/* стили для кнопки */
.scjje {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
  border: 4px solid black;
 position: absolute;
  top: 150px;
  left: 50px;
  /* уберем подсветку кнопки при клике */
  outline: none;
  /* плавные переходы при наведении */
  transition: all .4s ease
;  font-family: 'Arial Narrow', sans-serif;
font-size: 20px; 
}
.mail{
  


}

.scere img{
	height: 150px;
  width: 150px;
}

/* стили для кнопки при наведении */
.scjje:hover {
  /* курсор — палец */
  cursor: pointer;
  box-shadow: 4px 4px 	#000000;

  }
.scjje p{
	top: -100px;
	width: -1000px;
}

.scere {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
 position: absolute;
  top: 0px;
  left: 0px;
}


.scjje1 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
  border: 4px solid black;
 position: absolute;
  top: 150px;
  left: 250px;
  /* уберем подсветку кнопки при клике */
  outline: none;
  /* плавные переходы при наведении */
  transition: all .4s ease;
  font-family: 'Arial Narrow', sans-serif;
font-size: 20px; 
}

/* стили для кнопки при наведении */
.scjje1:hover {
  /* курсор — палец */
  cursor: pointer;
  box-shadow: 4px 4px 	#000000;

  }
.scjje1 p{
	top: -100px;
	width: -1000px;
}

.scere1 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
 position: absolute;
  top: 0px;
  left: 0px;
}

.scere1 img{
  height: 150px;
  width: 150px;
}


.scjje2 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
  border: 4px solid red;
 position: absolute;
  top: 150px;
  left: 450px;
  /* уберем подсветку кнопки при клике */
  outline: none;
  /* приятно — плавные переходы при наведении */
  transition: all .4s ease;
  font-family: 'Arial Narrow', sans-serif;
font-size: 20px; 
}

/* стили для кнопки при наведении */
.scjje2:hover {
  /* курсор — палец */
  cursor: pointer;
  box-shadow: 4px 4px 	red;

  }
.scjje2 p{
	top: -100px;
	width: -1000px;
}

.scere2 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
 position: absolute;
  top: 0px;
  left: 0px;
}

.scere2 img{
  height: 150px;
  width: 150px;
}
  .scjje3 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
  border: 4px solid orange;
 position: absolute;
  top: 150px;
  left: 650px;
  /* уберем подсветку кнопки при клике */
  outline: none;
  /* приятно — плавные переходы при наведении */
  transition: all .4s ease;
  font-family: 'Arial Narrow', sans-serif;
font-size: 20px; 
}

/* стили для кнопки при наведении */
.scjje3:hover {
  /* курсор — палец */
  cursor: pointer;
  box-shadow: 4px 4px 	red;

  }
.scjje3 p{
	top: -100px;
	width: -1000px;
}

.scere3 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
 position: absolute;
  top: 0px;
  left: 0px;
}

.scere3 img{
  height: 150px;
  width: 150px;
}
  .scjje4 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
  border: 4px solid orange;
 position: absolute;
  top: 150px;
  left: 850px;
  /* уберем подсветку кнопки при клике */
  outline: none;
  /* приятно — плавные переходы при наведении */
  transition: all .4s ease;
  font-family: 'Arial Narrow', sans-serif;
font-size: 20px; 
}

/* стили для кнопки при наведении */
.scjje4:hover {
  /* курсор — палец */
  cursor: pointer;
  box-shadow: 4px 4px 	red;

  }
.scjje4 p{
	top: -100px;
	width: -1000px;
}

.scere4 {
  /* размеры кнопки */
  width: 150px;
  height: 150px;
  /* граница элемента */
 position: absolute;
  top: 0px;
  left: 0px;
}

.scere4 img{
  height: 150px;
  width: 150px;
}

.scjje5 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 150px;
    left: 1050px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje5:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje5 p{
    top: -100px;
    width: -1000px;
}

.scere5 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere5 img{
  height: 150px;
  width: 150px;
}

.scjje6 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 150px;
    left: 1250px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje6:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje6 p{
    top: -100px;
    width: -1000px;
}

.scere6 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere6 img{
  height: 150px;
  width: 150px;
}



.scjje7 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 500px;
    left: 1450px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje7:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje7 p{
    top: -100px;
    width: -1000px;
}

.scere7 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere7 img{
  height: 150px;
  width: 150px;
}



.scjje8 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 150px;
    left: 1450px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 15px;
}

/* стили для кнопки при наведении */
.scjje8:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje8 p{
    top: -100px;
    width: -1000px;
}

.scere8 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}



.scere8 img{
  height: 150px;
  width: 150px;
}


.scjje9 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 500px;
    left: 1250px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje9:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje9 p{
    top: -100px;
    width: -1000px;
}

.scere9 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere9 img{
  height: 150px;
  width: 150px;
}


.logo {
  float: left;
}
nav {

  float: right;
}
nav ul {
    top: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block; /*один из способов разместить элементы в строку*/

    box-shadow: 1px 1px orange;
}


.Cont{
    border: 1px solid orange;
    position: static;
    float: right;
    top: 0px;
}
.Cont:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 2px 2px red;
}

@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(../shrift/19007.otf); /* Путь к файлу со шрифтом */
}
h5 {
    color:brown;
    font-family: Pompadur, 'Comic Sans MS', cursive;
}


.scjje10 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid black;
    position: absolute;
    top: 500px;
    left: 50px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* плавные переходы при наведении */
    transition: all .4s ease
;  font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}
.mail{



}

/* стили для кнопки при наведении */
.scjje10:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	#000000;

}
.scjje10 p{
    top: -100px;
    width: -1000px;
}

.scere10 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere10 img{
  height: 150px;
  width: 150px;
}


.scjje11 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid black;
    position: absolute;
    top: 500px;
    left: 250px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje11:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	#000000;

}
.scjje11 p{
    top: -100px;
    width: -1000px;
}

.scere11 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere11 img{
  height: 150px;
  width: 150px;
}

.scjje12 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid red;
    position: absolute;
    top: 500px;
    left: 450px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje12:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje12 p{
    top: -100px;
    width: -1000px;
}

.scere12 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere12 img{
  height: 150px;
  width: 150px;
}

.scjje13 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 500px;
    left: 650px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje13:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje13 p{
    top: -100px;
    width: -1000px;
}

.scere13 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere13 img{
  height: 150px;
  width: 150px;
}

.scjje14 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 500px;
    left: 850px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje14:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje14 p{
    top: -100px;
    width: -1000px;
}

.scere14 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere14 img{
  height: 150px;
  width: 150px;
}
.scjje15 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    border: 4px solid orange;
    position: absolute;
    top: 500px;
    left: 1050px;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
.scjje15:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 4px 4px 	red;

}
.scjje15 p{
    top: -100px;
    width: -1000px;
}

.scere15 {
    /* размеры кнопки */
    width: 150px;
    height: 150px;
    /* граница элемента */
    position: absolute;
    top: 0px;
    left: 0px;
}

.scere15 img{
  height: 150px;
  width: 150px;
}

/* 
Media
*/

@media (max-width: 1160px) {

	 .scjje{
	 	width: 50%;
	 	height: 50%;

	 }

	 .scere{
	 	width: 50%;
	 	height: 50%;
	 	top: 1px;

	 }
	 .scere img{
	 	width: 200%;
	 	height: 200%;
	 }


	 .scjje1{
	 	width: 50%;
	 	height: 50%;
	 	margin: 50%;
	 	top: -19.5%;

	 }

	 .scere1{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	 .scere1 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 .scjje2{
	 	width: 50%;
	 	height: 50%;
	 	top: 1270px;
	 	margin-left: -400px;

	 }

	 .scere2{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	 	 .scere2 img{
	 	width: 200%;
	 	height: 200%;
	 }


	  .scjje3{
	 	width: 50%;
	 	height: 50%;
	 	top: 1270px;
	 	margin-left: 90px;

	 }

	 .scere3{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	 	 .scere3 img{
	 	width: 200%;
	 	height: 200%;
	 }


	  .scjje4{
	 	width: 50%;
	 	height: 50%;
	 	top: 2370px;
	 	margin-left: -110px;

	 }

	 .scere4{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }
	 	 .scere4 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 .scjje5{
	 	width: 50%;
	 	height: 50%;
	 	top: 2370px;
	 	margin-left: -1000px;

	 }

	 .scere5{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	 	 .scere5 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 .scjje6{
	 	width: 50%;
	 	height: 50%;
	 	top: 3470px;
	 	margin-left: -1200px;

	 }

	 .scere6{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }
	 	 .scere6 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 .scjje7{
	 	width: 50%;
	 	height: 50%;
	 	top: 3470px;
	 	margin-left: -710px;

	 }

	 .scere7{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }
	 	 .scere7 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 .scjje8{
	 	width: 50%;
	 	height: 50%;
	 	top: 4570px;
	 	margin-left: -1400px;

	 }

	 .scere8{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }



	 .scere8 img{
	 	width: 200%;
	 	height: 200%;
	 }



	 	 .scjje9{
	 	width: 50%;
	 	height: 50%;
	 	top: 4570px;
	 	margin-left: -510px;

	 }

	 .scere9{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }



	 .scere9 img{
	 	width: 200%;
	 	height: 200%;
	 }

	 

	 	 .scjje10{
	 	width: 50%;
	 	height: 50%;
	 	top: 5720px;
	 	margin-left: 0px;

	 }

	 .scere10{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	  .scere10 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 	 .scjje11{
	 	width: 50%;
	 	height: 50%;
	 	top: 5720px;
	 	margin-left: 490px;

	 }

	 .scere11{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	  .scere11 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 h5{
	 	font-size: 170%;
	 }


	 	 .scjje12{
	 	width: 50%;
	 	height: 50%;
	 	top: 6870px;
	 	margin-left: -400px;

	 }

	 .scere12{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	  .scere12 img{
	 	width: 200%;
	 	height: 200%;
	 }


	 .scjje13{
	 	width: 50%;
	 	height: 50%;
	 	top: 6870px;
	 	margin-left: 90px;

	 }

	 .scere13{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	  .scere13 img{
	 	width: 200%;
	 	height: 200%;
	 }

	.scjje14{
	 	width: 50%;
	 	height: 50%;
	 	top: 8020px;
	 	margin-left: -800px;

	 }

	 .scere14{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	  .scere14 img{
	 	width: 200%;
	 	height: 200%;
	 }

	.scjje15{
	 	width: 50%;
	 	height: 50%;
	 	top: 8020px;
	 	margin-left: -310px;

	 }

	 .scere15{
	 	width: 50%;
	 	height: 50%;
	 	top: 0px;

	 }

	  .scere15 img{
	 	width: 200%;
	 	height: 200%;
	 }



	 
	 .Cont{
	 	
	 	font-size: 120%;
	 	
	 }
}