.str1{
margin-left: 100px;

}
.str2{
margin-left: 100px;

}
.str3{
margin-left: 100px;

}
.str4{
margin-left: 100px;

}
.str5{
margin-left: 100px;

}
.str6{
margin-left: 100px;

}
.str7{
margin-left: 100px;

}
.str8{
margin-left: 100px;

}
.str9{
margin-left: 100px;

}
.str10{
margin-left: 100px;

}
.str11{
margin-left: 100px;

}
.str12{
margin-left: 100px;

}
.str13{
margin-left: 100px;

}
.str14{
margin-left: 100px;

}
.str15{
margin-left: 100px;

}
.str16{
margin-left: 100px;

}
.str17{
margin-left: 100px;

}
.str18{
margin-left: 100px;

}
.str19{
margin-left: 100px;

}
.str20{
margin-left: 100px;

}
.str21{
margin-left: 100px;

}
.str22{
margin-left: 100px;

}
.str23{
margin-left: 100px;

}
.str24{
margin-left: 100px;

}
.str25{
margin-left: 100px;

}
.str26{
margin-left: 100px;

}
.str27{
margin-left: 100px;

}
.str28{
margin-left: 100px;

}
.str29{
margin-left: 100px;

}
.str30{
margin-left: 100px;

}
.str31{
margin-left: 100px;

}